.main{
  @apply min-w-[70px]
   md:min-w-[120px]
   lg:min-w-[100px]
   xl:min-w-[300px]
   2xl:min-w-[400px]
  w-full flex md:items-end flex-col
   justify-start items-center pt-2 min-h-screen bg-slate-100 border-r-2 border-slate-300 lg:border-none
}

.logo{
  @apply w-[40px] h-[40px] cursor-pointer xl:mr-auto pl-2 2xl:mr-[55%]
}

.iconscolumn{
@apply pt-3 min-h-[calc(100vh-50px)]  flex flex-col justify-start items-center gap-1
 xl:min-w-full xl:items-start  2xl:min-w-[60%];

.svgeffect{
  @apply w-[45px] h-[45px] xl:min-w-[150px] xl:w-fit rounded-full
    flex items-center justify-center hover:bg-slate-400/40 cursor-pointer
    xl:justify-start xl:gap-5 xl:px-2 xl:text-[20px]  relative
}

  svg{
    @apply w-[25px] h-[25px]
  }
.icontitle{
  @apply hidden
}
  .tweet{
    @apply w-[50px] h-[50px] xl:min-w-[80%] xl:mx-auto rounded-full flex items-center justify-center bg-[#1d9bf0] cursor-pointer;
    color:rgb(29, 155, 240) ;
  }

  .user{
    @apply w-[50px] h-[50px] xl:min-w-[90%] xl:w-fit xl:px-4 rounded-full flex items-center justify-center  mt-auto mb-2;
    .userpic{
      @apply w-[40px] h-[40px] bg-blue-600 rounded-full bg-cover overflow-hidden justify-center items-center flex
    }
    .userna {
      @apply flex flex-col justify-start items-center flex-grow
    }

  }
}
