<div class="chat">
  <div class="avatarea">

    <div class="avatar">
      <img src="{{message.imgurl}}" class="w-full h-full" alt="">
    </div>
  </div>

<div class="messagearea">

  <div class="handlebody">
    <div class="handle">
      <div class="name">{{message.name}}</div>
      <div class="truncate">@{{message.handle}}</div>
    </div>
    <div class="date">{{message.date | date:' MMMM d, y'}}</div>
    <div class="menu">
      
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
      style="fill: rgba(0, 0, 0, 1);">
      <path d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
  </div>
  </div>





  <div class="body">
    <div class="usermessage">

    {{message.message}}
    </div>
  </div>
</div>

</div>
