<div id="app">

  <div class="nav">
    <div class="popoveroverlay" (mouseenter)="UIS.enter()" (mouseleave)="UIS.leave()" (click)="UIS.disablepopover()" *ngIf="(UIS.popover$|async) ==true"></div>
    <app-sidenav></app-sidenav>
  </div>
  <app-mobilenav></app-mobilenav>
  <app-fab></app-fab>

  <div class="body">
  <router-outlet ></router-outlet>


  </div>


</div>
<div class="verified" *ngIf="UIS.verified$.value==true">

   <svg (click)="UIS.closeverifiedcomponent()" class="close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>


 <app-verified-choose></app-verified-choose>
</div>

<div class="compose" *ngIf="UIS.compose$.value==true">

  <!-- <svg (click)="UIS.closecomposepanel()" class="close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg> -->


 <app-composetweet></app-composetweet>


</div>

<app-welcome *ngIf="UIS.welcome$.value==true"></app-welcome>
