
#app{
    @apply min-w-full min-h-screen flex justify-start items-start relative
 bg-slate-100
}

.nav{
  @apply sm:min-w-[60px]
         md:min-w-[120px]
         lg:min-w-[100px]
         xl:min-w-[300px]
         2xl:min-w-[400px]
         sm:flex
         hidden
        fixed top-0 left-0
         min-h-screen


max-h-screen
         z-[100]
}

.popoveroverlay{
@apply fixed top-0 z-[100] bg-black/0 min-w-full min-h-screen
}

.body{
  @apply flex-grow  min-h-screen max-h-fit
   bg-slate-100 xl:max-w-[calc(100vw-300px)] ml-auto xl:ml-[300px] overflow-x-clip relative
   md:max-w-[647px] md:min-w-[600px] mr-auto sm:ml-[70px] md:ml-[120px]

   sm:max-w-[439px]
   lg:max-w-[calc(100vw-110px)]
   2xl:max-w-[1000px]
   2xl:mr-auto
2xl:ml-0
   z-[80]
}

app-mobilenav{
  @apply w-full fixed bottom-0 bg-white min-h-[50px] z-[100] sm:hidden
}

app-fab{
  @apply fixed bottom-[60px] right-[20px] z-[100] w-[56px] h-[56px]  rounded-full
}
