.messagescontainer{
  @apply  bg-slate-100 min-w-[100vw] w-full flex flex-col justify-start items-center min-h-screen px-1 lg:p-0
  sm:max-w-[calc(100vw-100px)]
  sm:min-w-fit

  lg:items-start lg:flex-row

}
.messages{
  @apply  min-w-full  min-h-screen md:border-r-2 border-r-slate-300 lg:max-w-[320px] md:max-w-[600px] flex flex-col justify-start items-center
}
.viewmessage{
  @apply hidden 
  max-w-[calc(100vw-410px)] bg-slate-100 min-h-screen w-full items-center flex-col justify-center
  lg:flex;
  .containernewmsg{
    @apply max-w-[350px] min-h-fit flex flex-col justify-start items-start gap-5;
    .selectmsgtitle{
      @apply text-3xl font-semibold text-slate-950
    }
    .selectmsgsubtitle{
      @apply text-sm text-slate-500 font-light
    }
    .newmessagebutton{
      @apply min-w-[200px] p-4 rounded-full bg-[#1d9bf0] text-lg font-semibold text-white
    }
  }
}
app-nav{
  @apply fixed top-0 w-full left-0 z-20 sm:max-w-[calc(100%-70px)] lg:max-w-[320px] lg:ml-[90px]
}
.searchbar{
  @apply min-w-full min-h-[50px] mt-[55px] 
   flex justify-center items-center relative bg-slate-100 mb-[10px] z-20 lg:max-w-[320px] lg:min-w-fit
   lg:mx-auto
   ;
  input{
    @apply w-full rounded-full bg-[#ececec] pl-10 min-h-[40px] min-w-[60%] font-light py-1 text-[15px];
   //color: #ececec
  }
  .searchicon{
    @apply absolute left-3 top-[17px] fill-black/60 cursor-pointer
  }
}
.searchrecentmessage{
  @apply min-w-full min-h-screen bg-slate-100 text-slate-600 text-sm text-center fixed z-10 pt-[130px]
  lg:max-w-[310px] lg:min-w-0 border-r-2 border-r-slate-300 
}





.searchbaractive{

  @apply max-w-[80%] ml-auto mr-5

}
