<app-nav></app-nav>
<div class="list">
  <div class="discover">Discover new Lists</div>
  <div class="dlist">
    <div class="avatar"></div>
<div class="bio">
<div class="title">
  <span class="name">Indie</span> . <span class="count">150 members</span>
</div>
<div class="following">
  <div class="iconcontainer">

    <div class="icon"></div>
    <div class="icon i2"></div>
    <div class="icon i3"></div>
  </div>
  <span class="currentfollowing">9 floowers including @LSAfrika199</span>
</div>


</div>
<div class="add">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255 255 255)"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg>

</div>


  </div>
</div>
