<app-nav></app-nav>
<div class="container " >

  <div class="list">
    <div class="discover">Discover new Lists</div>
    <div *ngFor="let list of Lists.lists" class="discoverylists">
      <div class="avatar">
        <img src="../../../assets/pic4.jpg" alt="">
      </div>
  <div class="bio">
  <div class="title">
    <span class="name">{{list.name}}</span> . <span class="count">{{list.members}} members</span>
  </div>
  <div class="following">
    <div class="iconcontainer">

      <div class="icon"></div>
      <div class="icon i2"></div>
      <div class="icon i3"></div>
    </div>
    <span class="currentfollowing">{{list.mutualfollowers}} folowers including @{{list.higlightedfollower}}</span>
  </div>


  </div>
  <div class="add">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255 255 255)"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg>

  </div>


    </div>

    <div class="text-[#1d9bf0] mr-auto ml-2 my-4">Show more</div>
    <div class="discover ">Your Lists</div>

    <div class="nolists">You have not created or followed any Lists.When you do the will show up here</div>

  </div>
  <div class=" trendingforyou">
    <div class="trends">
    <app-rightpanel></app-rightpanel>

  </div>
  </div>
</div>

