.nav{
    @apply w-full   flex justify-start  items-center flex-col bg-slate-600 fixed top-0 z-[100]
    md:max-w-[640px] sm:max-w-[420px]

    lg:max-w-[320px]

    xl:min-w-[590px]
     2xl:max-w-[420px] 2xl:border-none;

}

.divider{
    @apply w-full   h-[56px] flex justify-start  items-center  gap-2 font-semibold sticky top-0 bg-slate-100
    md:max-w-[640px]
    xl:min-w-[600px]


}

.dividermessages{

    @apply xl:max-w-[390px] xl:min-w-[380px] w-full sm:max-w-[490px] md:max-w-[640px]
    lg:max-w-[320px]
}

.messagespaddingleft{
@apply  md:ml-[120px] lg:ml-0
}
.navnotifcationswidth{
  @apply  lg:max-w-[600px]
}
.navmessageswidth{
  @apply  lg:max-w-[320px]
}
.navhomewidth{
  @apply  lg:max-w-[600px] md:w-[600px]
}
.dividernotifcations{
  @apply justify-evenly text-slate-500 gap-0
}
.dividerborderbottom{
    @apply border-b-[1px] border-black/20
}
.pagetitle{
  @apply  flex font-semibold text-lg sm:pl-5 mr-auto  text-slate-900 md:ml-0
}
.plmessage{
  @apply pl-[75px] md:pl-[20px] lg:pl-[30px]
}
.avatar{
    @apply w-[30px] h-[30px] rounded-full bg-pink-600 overflow-hidden bg-cover ml-3 sm:hidden
}

.logo{
    @apply w-[25px] h-[55px] rounded-full  overflow-hidden bg-cover  absolute left-[46%] sm:hidden top-[14px]
}
.cursor{
    @apply cursor-pointer
}

.dividersub{
  @apply flex flex-col justify-center items-center flex-grow  min-w-[33%] hover:bg-slate-200 min-h-[50px] text-center
}

.active{
  @apply min-w-[60px] min-h-[3px] rounded-full bg-[#1d9bf0]
}
.activetab{
  @apply text-black
}
.bottom{
@apply shadow-sm shadow-black/30
}
.searchbar{
  @apply w-fit min-h-[30px] rounded-full flex justify-center items-center relative md:min-w-[500px] md:max-w-[550px] md:mx-auto sm:min-w-[380px] ;
  input{
    @apply w-full rounded-full bg-[#ececec] pl-10 min-h-[30px] min-w-[60%] font-light py-1;
   //color: #ececec
  }
  .searchicon{
    @apply absolute left-3 top-[6px] fill-black/60 cursor-pointer
  }
}



.settings{
  @apply ml-auto w-[30px] h-[30px]  mr-2 flex justify-center items-center cursor-pointer
}
.sendmsg{
  @apply ml-0 w-[30px] h-[30px]  mr-2 flex justify-center items-center cursor-pointer
}
.mrzero{
  @apply mr-0
}
.hidemessagesiconexplore{
  @apply hidden
}
.backfromrecentsearchtab{
  @apply w-[30px] h-[30px] bg-slate-100 absolute ml-3 flex justify-center items-center cursor-pointer
}

.listsnav{
  @apply w-full min-h-[60px] h-[inherit] bg-white fixed flex justify-between px-1 gap-2 items-center
  sm:w-[calc(100vw-70px)]
  md:w-[calc(100vw-120px)]
  lg:max-w-[600px] lg:ml-[240px]
  xl:ml-[10px]

  ;
  .backbutton{
    @apply w-[34px] h-[34px]  flex justify-center items-center
  }
  .searchbox{
    @apply relative flex-grow  flex justify-center items-center  max-w-[400px];
    input{
      @apply bg-slate-100 rounded-full  border-none min-h-[30px] w-[80%] pl-10
    }
    .listsearchicon{
      @apply absolute  left-[50px] w-[20px] h-[20px]
    }
  }
  .newlist{
    @apply hidden sm:flex justify-center items-center w-[34px] h-[34px]
  }
  .menu{
    @apply w-[34px] h-[34px] flex justify-center items-center
  }

}
